[include]
  path = .gitconfig.local
[color]
  ui = false
  diff = true
  interactive = true
  status = true
  branch = true
[alias]
  st = status -sb
  cm = commit
  cma = commit -a
  br = branch
  co = checkout
  df = diff --color
  dfc = diff --cached
  dfh = diff HEAD
  pr = pull --rebase
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit
  lga = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=short
  lgg = log --stat --pretty=format:'%Cblue%h %Cgreen%ar %Cred%an %Creset%s %Cred%d'
  lgs = log --stat --abbrev-commit --date=relative
  fix = commit --amend -C HEAD
[gui]
  encoding = utf-8
[interactive]
  singlekey = true
[core]
  editor = /usr/local/bin/vim
  quotepath = false
  autocrlf = false
  safecrlf = true
  pager = less=-R less
  excludesfile = ~/.gitignore_global
[i18n]
  commitencoding = UTF-8
[push]
  default = simple
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[ghq]
  root = ~/projects
